<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
    <link rel="stylesheet" href="/login/login.css" />
</head>
<body>

  <div class="login-page">
  <header class="site-header">
    <div class="logo-title">
      <img src="/icon/main_log.png" class="logo-icon">
      <span class="logo-left">약속</span>
      <span class="logo-colon">:</span>
      <span class="logo-right">藥束</span>
    </div>
  </header>

  <main class="login-page">

    <div class="page">
    <div class="box">

        <section class="join-box">
      <h1>스마트 약상자</h1>
      <p class="subtitle">나에게 알맞은 약상자 케어 시스템</p>
      



      <% if (error) { %>
        <p class="login-error"><%= error %></p>
      <% } %>

      <form action="/login" method="post" class="login-form">
        <label for="userId">아이디</label>
        <input
          type="text"
          id="userId"
          name="userId"
          placeholder="아이디를 입력해주세요"
          required
        />

        <label for="password">비밀번호</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="비밀번호를 입력해주세요"
          required
        />

        <button type="submit" class="login-btn">로그인</button>
      </form>

      <div class="links">
        <a href="/findId">아이디 찾기</a>
        <span>|</span>
        <a href="/resetPw">비밀번호 찾기</a>
      </div>

      <a href="/join" class="join-btn">회원가입</a>
    </section>

    </div>
    </div>
  </main>
</body>
</html>