<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대상자 등록</title>

    <link rel="stylesheet" href="/user/user_service/seniorRegister.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

    <main class="register-page">

        <section class="register-box">

            <h1>스마트 약상자</h1>
            <p class="subtitle">보호자님 정보를 등록해주세요</p>

            <div class="icon-box">
                <div class="handle"></div>
                <div class="case">
                    <span>👤</span>
                </div>
            </div>

            <h2>보호자 등록</h2>

            <form action="/user/user_info/seniorRegister" method="post" class="register-form">

                <label>보호자 아이디</label>
                <input
                    type="text"
                    name="seniorId"
                    placeholder="대상자 아이디"
                    required>

                <label>이름</label>
                <input
                    type="text"
                    name="name"
                    placeholder="이름을 입력해주세요"
                    required>
 
                <button type="submit" class="register-btn">
                    등록하기
                </button>

            </form>

            <div class="links">
                <a href="/user/senior_service/senior_about">대시보드로 돌아가기</a>
            </div>

        </section>

    </main>

</body>
</html>